@import url("animations.css");

body {
    background-color: lightblue;
    box-sizing: border-box;
}
li {
	float: left;
	list-style-type: none;
}
#nav-contrainer {
	margin: 0 25px;
}
#nav-headers {
	display: flex;
	flex-flow: row wrap;
  	justify-content: space-around;
}
#logo {
	z-index: 2;
	margin: auto;
	position: absolute;
}
#slide-show {
	max-width: 800px;
	margin: 0 auto;
	min-height: 400px;  
}
#crm-project {
	
}
.spin {
	animation: spin 3s ease 1;
}
.flex-container {
	width: 100%;
	text-align: center;
}
.project {
	/*border: 2px solid red;*/
	min-height: 100px;
}
.overlay {
	width: 0px;
	position: absolute;
	z-index: 3;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    overflow-x: hidden; 
    transition: 0.5s;
}
.enlarge {
	font-size: 4em;
	text-align: center;
	width: 100%;
	margin: 0 auto;
}
.full-img {
	width: 100%;
	height: 100%;
}
.carousel-indicators {
	left: 48%;
	margin: 0 auto; 
}
